@model EpicSolutions.Model.Department

@{
    ViewData["Title"] = "Delete";
}
<div class="row justify-content-center mt-3" id="errorMessageRow">  

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="col-6">
            <div class="alert alert-danger " role="alert" id="errorMessageContainer">
                @ViewBag.ErrorMessage
            </div>
        </div>
    }
</div>

<div class="row justify-content-center mt-5 mb-5">
    <div class="col-6">
        <h3>Are you sure you want to delete department: @Html.DisplayFor(model => model.Name)?</h3>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id" /> 
            <input type="submit" value="Delete" class="btn btn-delete" style="width: 49%; margin-right: 1%;" />
            <a asp-controller="Department" asp-action="Edit" asp-route-departmentId="@Model.Id" class="btn btn-secondary" style="width: 49%;">Back to Department Details</a>
        </form>
    </div>
</div>
