@model EpicSolutions.Model.ItemDTO

@{
    ViewData["Title"] = "Approve Item Page";
}

<h1>Approve</h1>

<h4>Item Details</h4>
<hr />
<div class="row justify-content-center">
<div class="col-md-4">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center">
            @TempData["Error"]
        </div>
    }
</div>
</div>
<div class="row justify-content-center">

    <div class="col-md-4">
        <form asp-action="Approve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ItemId" class="form-control" type="hidden"/>
                <input asp-for="OrderId" class="form-control" type="hidden" />
                <input asp-for="stringItemRowVersion" class="form-control" type="hidden" />

                <input asp-for="QuantityOriginal" class="form-control" type="hidden" />
                <input asp-for="ItemPriceOriginal" class="form-control" type="hidden" />
                <input asp-for="LocationOriginal" class="form-control" type="hidden" />

            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" disabled />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemJustification" class="control-label"></label>
                <input asp-for="ItemJustification" class="form-control" disabled />
                <span asp-validation-for="ItemJustification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusName" class="control-label"></label>
                <input asp-for="StatusName" class="form-control" disabled />
                <span asp-validation-for="StatusName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPurchaseLocation" class="control-label"></label>
                <input asp-for="ItemPurchaseLocation" class="form-control" />
                <span asp-validation-for="ItemPurchaseLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditReason" class="control-label"></label>
                <input asp-for="EditReason" class="form-control" />
                <span asp-validation-for="EditReason" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
